body{
    background-color: rgb(106, 106, 106);
   
    
}


/*grid menu index*/
.grid_menu_index-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 1vw;
}
.grid_menu_index-item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2vw;
    font-size: 2vw;
    text-align: center;
}
/*IFRAME MODEL*/
iframe:focus {
    outline: none;
}  
iframe[seamless] {
    display: block;
}
/*Navbar Model*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(155, 151, 151, 0.898);
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    font-size: 1.7vw;
    padding: 2.5vw 7vw;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(145, 158, 117);
}
#icon{
    height: 6vw;
    width: 6vw;
    float: right;
}
/**/